.chartButtonContainer {
    display: block;
}

.chartContainer {
    border: 2px solid;
    border-radius: 20px;
    padding: 10px;
    border-color: slategray;
}

.chartButtonContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.button {
    display: inline-block;
    height: 95%;
    width: 95%;
    font-size: 1rem;
}

.tempContainer {
    display: grid;
    justify-content: center;
}

.tempBox {
    color: black;
    border-radius: 10px;
    border: 2px solid;
    border-color: black;
    text-align: center;
    margin: 0px;
    flex: 0 0 90%;
}

.temp {
    font-size: 8vw;
    line-height: 100%;
    display: block;
    display: block;
    font-weight: bolder;
}

@media (min-width: 976px) {
    .temp {
        font-size: 3vw;
    }
    .tempBox {
        margin: 10px;
    }
}

.TempLabel {
    font-size: 2vw;
    line-height: 150%;
    display: block;
}

.dashBackground {
    background-color: #cccccc;
    height: calc(100vh - 56px);
}

.imgContainer {}

#latestImage {
    width: 100%;
    display: block;
}

.vertSeparater {
    min-height: 100px;
    display: inline-block;
    background: #BBBBBB;
    width: 2px;
}